



html, body {
    height: 100%;
    margin: 0;
    background-color: #9ebad7 ;
}



/* Navigation Bar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 7%;
    background-color: #9ebad7 ;
    transition: box-shadow 0.3s ease;
}

.navbar:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.name {
    margin: 0;
    text-align: center;

    color: white;
    font-size: 1.5vw;
    font-family: Courier, monospace;
}


.nav-button {
    color: white;
    margin: 0 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1.5vw;
    font-family: Courier, monospace;
    transition: background 0.3s ease;
}

.nav-button:hover {
    background: white;
    color: black;

    cursor: pointer;
}

/* Home Page */

#home {
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#home-image {
    height: 93%;
    width: 50%;
    border-radius: 50%;
}

#intro {
    width: 50%;
    text-align: start;
    margin: auto;
    margin-left: 5%;
}

.title {
    color: white;
    font-family: OCR A Std, monospace;
    margin: 0;
}

#intro-text {
    font-size: 30px;
    margin-right: 10px;
}

#strong {
    font-size: 40px;
}



#home-title {
    background: white;
    color: black;
}


.page {
    display: none;
    margin: 0;
    width: 100%;
}

#about {
    flex-direction: column;
}

.about-p {
    font-size: x-large;
    text-align: justify;
    width: 60%;
    margin: 10px auto;
}

#main-name {
    font-size: xx-large;
    text-align: center;
}

#about-end {
    text-align: center;
}

#contact {
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    display: flex;
    display: row;
    justify-content: space-evenly;
}

.link {
    color: white;
    text-align: center;
    margin: auto;
    font-size:xx-large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.link:hover {
    font-size: xxx-large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.page-header {
    color: white;
    font-size: xxx-large;
    font-family: OCR A Std, monospace;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

#contact-header {
    margin-bottom: 30px;
}

.backButton {
    width: 10%;
    text-align: center;
    justify-content: center;
    background: transparent;
    border: 2px solid white;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    font-family: Courier, monospace;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.backButton:hover {
    background: white;
    color: black;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.line {
    border-bottom: 2px solid white;
    margin-bottom: 0;
}

/* Project tags */

.program-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.program {
    margin: 0px 2px;
    width: auto;
    text-align: center;
    border: 2px solid black;
    display: block;
    border-radius: 10px;
    font-family: Courier, monospace;
}

#HTML-JS-CSS {
    background-color: lightblue;
}

#React {
    background-color: rgb(153, 81, 220);
}

#Java {
    background-color: green;
}

#Group-Project {
    background-color: yellow;
}

#OOP {
    background-color: orange;
}

#Lua {
    background-color: rgb(40, 52, 214);
}




p, li, ul, h3, a {
    width: 90%;
    margin: auto;
    font-family: Georgia, serif;
    padding: 2px;
    text-align: justify;
    color: #333;
}

/* Projects Page */

#projects {
    display: none;
    flex-direction: column;
}

.projects-header {
    text-align: center;
    text-decoration: underline;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.projects-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    margin: 20.2px auto;
    cursor: pointer;
}

.project-title {
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
    color: #444;   
}

.project-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.project-picture {
    width: 60%;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .nav-button {
        font-size: large;
    }

    #name {
        font-size: x-large;
    }
    
    #occupation {
        font-size: large;
    }
    
    #course {
        font-size: x-small;
    }

    .about-p {
        font-size: large;
        width: 90%;
    }
    .backButton {
        font-size: large;
        width: auto;
    }

    #main-name {
        font-size: x-large;
    }
}