#sky { 
    width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

#home-image {
    width: 40%;
    overflow: hidden;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #9ebad7 ;
}

.title {
    color: white;
    font-family: OCR A Std, monospace;
    margin: 0;
}

#name {
    font-size: 3vw;
    margin: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#occupation {
    font-size: 2.5wv;
}

#course {
    font-size: 2vw;
    margin-bottom: 20px;
}

#main {
    display: flex;
    flex-direction: row;
}

#main-nav {
    width: 60%;
    justify-content: center;
    text-align: center;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.nav-button {
    color: white;
    width: 60%;
    margin: 20px 0;
    background: transparent;
    border: 2px solid white;
    font-size: 1.5vw;
    font-family: Courier, monospace;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.nav-button:hover {
    background: white;
    color: black;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#home-title {
    background: white;
    color: black;
}

.page {
    display: none;
    margin: 0;
    width: 100%;
}

#about {
    flex-direction: column;
}

.about-p {
    font-size: x-large;
    text-align: center;
    width: 60%;
    margin: 10px auto;
}

#contact {
    flex-direction: column;
    justify-content: center;
}

.email {
    text-align: center;
    margin: auto;
    font-size: large;
}

#projects {
    display: none;
    flex-direction: column;
}

header {
    color: white;
    font-size: xxx-large;
    font-family: OCR A Std, monospace;
    width: 100%;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.backButton {
    width: 10%;
    text-align: center;
    justify-content: center;
    background: transparent;
    border: 2px solid white;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    font-family: Courier, monospace;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.backButton:hover {
    background: white;
    color: black;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.line {
    border-bottom: 2px solid white;
    margin-bottom: 0;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px 0px;
}

.project:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    border: 1px;
    margin: 22.5px 0px;
    cursor: pointer;
}

.project-title {
    text-align: center;
    justify-content: center;
    margin: 5px 0px;
}

.program-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.program {
    margin: 0px 2px;
    width: auto;
    text-align: center;
    border: 2px solid black;
    display: block;
    border-radius: 10px;
    font-family: Courier, monospace;
}

#HTML-JS-CSS {
    background-color: lightblue;
}

#React {
    background-color: rgb(153, 81, 220);
}

#Java {
    background-color: green;
}

#Group-Project {
    background-color: yellow;
}

#OOP {
    background-color: orange;
}

.project-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.projects-header {
    text-align: center;
    text-decoration: underline;
}

p, li, ul, h3, a {
    width: 90%;
    margin: auto;
    font-family: Georgia, serif;
    padding: 2px;
}


.project-picture {
    width: 60%;
    margin: auto;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .nav-button {
        font-size: large;
    }

    #name {
        font-size: x-large;
    }
    
    #occupation {
        font-size: large;
    }
    
    #course {
        font-size: x-small;
    }

    .about-p {
        font-size: large;
    }
    .backButton {
        font-size: large;
        width: auto;
    }
}